/*============= HTML5 =============*/

article, aside, details, figcaption, figure, footer, header, nav, section, main{
    display:block;
}
audio, canvas, video{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
audio:not([controls]){
    display:none;
}
[hidden]{
    display:none;
}

/*============ Global =============*/

* {
    box-sizing: border-box;
}

html{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
body{
    margin:0;
    padding:0;
    border:none;
    font-size:100%; /*equivalent to 16px in most browsers*/
    font-family: helvetica, arial, sans-serif;
    color:#333;
    -webkit-text-size-adjust:100%;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

/* remove text shadow on selection */

::-moz-selection{
    background:#b4d5ff;
    text-shadow:none;
}
::selection{
    background:#b4d5ff;
    color:#fff;
    text-shadow:none;
}
ul, ol, dl{
    margin:0 0 18px 20px;
    padding:0;
}
ul{
    margin:0;
    list-style:none;
}
li{
    margin:0 0 8px;
    padding:0;
}
form, input, button, select, textarea, label, legend, fieldset{
    margin:0;
    padding:0;
}
label{
    display:block;
    font-size:1em;
    padding:0 0 6px;
}
input[type="text"], input[type="email"], textarea{
    border:none;
    height:28px;
    line-height:2em;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    text-indent:5px;
    background: none;
    color: #ffffff;
    margin-right: 10px;
}
input:focus{
    border:1px solid #6aafdb;
}
/*input[type="submit"]{*/
    /*background: -moz-linear-gradient(90deg, #1E4C7C, #398ABE) repeat scroll 0 0 transparent;*/
    /*border: 1px solid #1A4775;*/
    /*text-shadow: 0 -1px 0 #1A4775;*/
    /*box-shadow: 0 1px 1px #99C0E9 inset;*/
    /*-moz-border-radius:3px;*/
    /*-webkit-border-radius:3px;*/
    /*border-radius:3px;*/
    /*color:#444;*/
    /*font-size:0.786em;*/
    /*font-weight:700;*/
    /*text-transform:uppercase;*/
    /*text-indent:0;*/
    /*-webkit-appearance:none;*/
/*}*/
/*input[type="submit"]:hover{*/
    /*background:-moz-linear-gradient(90deg,#398abe,#1e4c7c);*/
    /*background:-webkit-gradient(linear, left top, left bottom, from(#1e4c7c), to(#398abe));*/
    /*background:-o-linear-gradient(#1e4c7c, #398abe);*/
    /*color:#fff;*/
    /*text-shadow:none;*/
/*}*/
input[type="checkbox"], input[type="radio"]{
    width:16px;
    height:16px;
    border:0;
}
textarea{
    text-indent:0;
    padding:5px;
    line-height:1.143em;
    overflow:auto;
    vertical-align:top;
    resize:vertical;
}
fieldset{
    border:none;
}
p.error, p.confirmation{
    background:#ffd4d4;
    border:1px solid #f1a4a4;
    color:#472424;
    margin:0 0 10px;
    padding:5px 8px;
    font-size:0.857em;
    -moz-border-radius:3px;
    -webit-border-radius:3px;
    border-radius:3px;
}
p.confirmation{
    background:#e6ffd2;
    border:1px solid #afdd89;
    color:#2e421e;
    float:right;
    display:inline;
    width:35%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
a{
    color:#333;
}
a:visited{
    color:#000;
}
a:hover{
    color:#000;
}
a:focus{
    outline:thin dotted;
}
a:hover, a:active{
    outline:0;
}
img{
    border:none;
}
p{
    margin:0 0 18px 0;
    line-height:1.5em;
}
h1, h2, h3, h4, h5, h6{
    font-family:helvetica, arial, sans-serif;
    font-weight:700;
    color:#222;
}
h1{
    font-size:1.857em;
    margin:0 0 18px 0;
}
h2{
    font-size:1.571em;
    margin:0 0 18px 0;
}
h3{
    font-size:1.286em;
    margin:0 0 18px 0;
}
h4{
    font-size:1.143em;
    margin:0 0 18px 0;
}
h5{
    font-size:1em;
    margin:0 0 18px 0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    margin:0 0 18px;
}
td{
    vertical-align:top;
}

/*clear*/

.cf:before,
.cf:after{
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf{

    *zoom: 1;
}

#content,footer, header, #address{
    max-width: 1240px;
    display: block;
    margin: 0 auto;
}
/*============ Layout =============*/
body{
    background: url("images/bottom-bg.jpg") no-repeat bottom center, url('images/top-bg.jpg') no-repeat top center #000000;
}


/*============ Header =============*/
header img{
    margin: 155px auto 0;
    display: block;
}
header nav{
    border-top:solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    margin:65px 0 0;
}
header li{
    display: inline-block;
    margin:22px 64px;
}
header a{
    text-transform: uppercase;
    color: #ffffff !important;
    text-decoration: none;
}
/*========= Content/Pages =========*/
#social{
    max-width: 1240px;
    margin:55px auto 0;
    display: block;
}
#social ul{
    max-width: 190px;
    display: block;
    margin:0 auto;
}
#social li{
    margin:0 30px 0 0;
    display: inline-block;
}
#social li:last-child{
    margin:0;
}

/*========= Main =========*/
#heading{
    display: block;
    max-width: 100%;
    background: #ffffff;
    padding: 68px 0;
    margin: 124px 0 0;
}
#heading h1{
    text-align: center;
}
#heading h2{
    max-width: 610px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: 500;
}
#content nav{
    max-width: 100%;
}
#content nav li{
    display: inline;
    margin: 0 -4px 0 0;
}
#content nav img div{
    position: relative;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    z-index: 50;
    height: 100%;
    width: 100%;
}
#content nav img.hover{
    position: relative;
    z-index: 25;
}
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    margin: 0 0 60px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides img {
    height: auto;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
    content: '\f002';
}
.flex-direction-nav .flex-prev {
    left: -50px;
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a.flex-play:before {
    content: '\f003';
}
.flex-control-nav {
    width: 100%;
    position: relative;
    top:-27px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    transition: all 0.5s;

}
.flex-control-paging li a:hover {
    background: #dcdcdc;
}
.flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

/*============ Footer =============*/
footer{
    border-bottom: double 1px #ffffff;
    padding-bottom: 96px;
    color: #ffffff;
}
footer article{
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
}
footer h3{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    border-bottom: solid 1px #ffffff;
    display: block;
    width: 100%;
    text-align: center;
}
.btn{
    padding: 11px 64px;
    border: 1px #ffffff solid;
    border-radius: 5px;
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 15px auto 30px;
    max-width: 190px;
    display: block;
    background: none;
    font-size: 1em;
}
#twitter p:first-of-type{
    text-align: center;
}
#twitter p{
    display: block;
    max-width: 290px;
    margin: 0 60px 0 50px;
    color: #ffffff;
}
#twitter span{
    display: block;
    text-align: right;
}

#instagram{
    text-align: center;
    max-width: 400px;
}
#instagram li{
    display: inline-block;
    margin: 0;
}
#instagram li:first-of-type{
    margin-right: 15px;
}
#form p{
    text-align: center;
}
#form li{
    border: 1px #ffffff solid;
    margin:0 0 15px;
    padding: 12px 20px;
}
#form label{
    text-transform: lowercase;
    border-right: 1px #ffffff solid;
    padding: 5px;
    display: inline;
}
#address{
    color: #ffffff;
    padding: 35px 0 101px;
    border-top:1px #ffffff solid;
}
#address li{
    display: inline;
    padding:0 22px;
    border-right: 1px #ffffff solid;
}
#address li:last-child{
    border-right:none;
}
/*============ Responsive =============*/

@media (max-width:900px){

}

/*========= Print Styles ==========*/

@media print {
    body{
        background:transparent;
        color:#000;
        text-shadow:none;
    }
    a, a:visited{
        text-decoration:underline;
    }
    a[href]:after{
        content: " (" attr(href) ")";
    }
    abbr[title]:after{
        content: " (" attr(title) ")";
    }
    pre, blockquote{
        border:1px solid #999;
        page-break-inside:avoid;
    }
    tr, img{
        page-break-inside:avoid;
    }
    img{
        max-width:100%;
    }
    p, h2, h3 {
        orphans:3;
        widows:3;
    }
    h2, h3{
        page-break-after:avoid;
    }
}